extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Trang đăng ký
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='login.html')
              | Đăng nhập/đăng ký
              span.lnr.lnr-arrow-right
            a(href='#') Đăng ký
  // End Banner Area
  // Start Register Box Area
  section.login_box_area.section_gap
    .container  
      .row
        .col-lg-12
          .login_form_inner
            h3 Đăng ký
            form#contactForm.row.login_form(action='registration.html', method='POST')
              .col-md-12.form-group
                if typeof(errors)!='undefined'
                  each error in errors
                    .alert.alert-danger
                      | #{error}
                if success_msg!=''
                  .alert.alert-success
                    | #{success_msg}
                if error_msg!=''
                  .alert.alert-danger
                    | #{error_msg}
              .col-md-12.form-group
                input#name.form-control(type='text', name='name', placeholder='Họ tên', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Họ tên'" , value=(typeof(values)!='undefined') ? values.name : '') 
              .col-md-12.form-group
                input#name.form-control(type='email', name='email', placeholder='Email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email'", value=(typeof(values)!='undefined') ? values.email : '')
              .col-md-12.form-group
                input#name.form-control(type='password', name='password1', placeholder='Mật khẩu', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Mật khẩu'", value=(typeof(values)!='undefined') ? values.password1 : '')
              .col-md-12.form-group
                input#name.form-control(type='password', name='password2', placeholder='Nhập lại mật khẩu', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Nhập lại mật khẩu'", value=(typeof(values)!='undefined') ? values.password2 : '')
              .col-md-12.form-group
                button.primary-btn(type='submit', value='submit') Đăng ký
  // End Register Box Area