extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Chi tiết sản phẩm
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='category.html')
              | Danh mục
              span.lnr.lnr-arrow-right
            a(href='#') Chi tiết sản phẩm
  // End Banner Area
  // Start Single Product Area
  .product_image_area
    .container
      .row.s_product_inner
        .col-lg-6
          .s_Product_carousel
            .single-prd-item
              img.img-fluid(src=product.image, alt='')
            .single-prd-item
              img.img-fluid(src=product.image, alt='')
        .col-lg-5.offset-lg-1
          .s_product_text
            h3 #{product.name}
            h2 $#{product.price}
            ul.list
              li
                a.active(href='#')
                  span Nhãn hiệu
                  |  : #{product.stall}
              li
                a(href='#')
                  if product.qty <= 0
                    span Tình trạng
                    |  : Hết hàng
                  else if product.qty <= 500
                    span Tình trạng
                    |  : Còn ít hàng
                  else
                    span Tình trạng
                    |  : Còn hàng
            p
              | #{product.description}
            .product_count
              label(for='qty') Số lượng:
              input#sst.input-text.qty(type='text', name='qty', maxlength='12', value='1', title='Quantity:')
              button.increase.items-count(onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;", type='button')
                i.lnr.lnr-chevron-up
              button.reduced.items-count(onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;", type='button')
                i.lnr.lnr-chevron-down
            .card_area.d-flex.align-items-center
              a.primary-btn(href='cart.html') Thêm vào giỏ
  // End Single Product Area
  // Start Product Description Area 
  section.product_description_area
    .container
      ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item
          a#home-tab.nav-link(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Mô tả
        li.nav-item
          a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Đặc điểm
        li.nav-item
          a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Bình luận
        li.nav-item
          a#review-tab.nav-link.active(data-toggle='tab', href='#review', role='tab', aria-controls='review', aria-selected='false') Đánh giá
      #myTabContent.tab-content
        #home.tab-pane.fade(role='tabpanel', aria-labelledby='home-tab')
          p #{product.description}
        #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
          .table-responsive
            table.table
              tbody
                tr
                  td
                    h5 Ngày ra mắt
                  td
                    h5 #{product.date}
                tr
                  td
                    h5 Số lượng trong kho
                  td
                    h5 #{product.qty}
                tr
                  td
                    h5 Tình trạng
                  td
                    if product.qty <= 0
                      h5 Hết hàng
                    else if product.qty <= 500
                      h5 Còn ít hàng
                    else
                      h5 Còn hàng                 
        #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
          .row
            .col-lg-6
              .comment_list
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-1.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      h5 12th Feb, 2018 at 05:56 pm
                      a.reply_btn(href='#') Trả lời
                  p
                    | Giày đẹp quá
                .review_item.reply
                  .media
                    .d-flex
                      img(src='img/product/review-2.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      h5 12th Feb, 2018 at 05:56 pm
                      a.reply_btn(href='#') Trả lời
                  p
                    | Đồ án khó quá
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-3.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      h5 12th Feb, 2018 at 05:56 pm
                      a.reply_btn(href='#') Trả lời
                  p
                    | Giày đẹp ghê
            .col-lg-6
              .review_box
                h4 Viết bình luận
                form#contactForm.row.contact_form(action='#', method='POST')
                  .col-md-12
                    .form-group
                      input#name.form-control(type='text', name='name', placeholder='Họ tên')
                  .col-md-12
                    .form-group
                      input#email.form-control(type='email', name='email', placeholder='Địa chỉ email')
                  .col-md-12
                    .form-group
                      input#number.form-control(type='text', name='number', placeholder='Số điện thoại')
                  .col-md-12
                    .form-group
                      textarea#message.form-control(name='message', rows='1', placeholder='Nội dung')
                  .col-md-12.text-right
                    button.btn.primary-btn(type='submit', value='submit') Gửi
        #review.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='review-tab')
          .row
            .col-lg-6
              .row.total_rate
                .col-6
                  .box_total
                    h5 Tổng thể
                    h4 #{product.ratingStar}
                    h6 (#{product.numRate} Đánh giá)
                .col-6
                  .rating_list
                    h3 Dựa trên #{product.numRate} đánh giá
                    ul.list
                      li
                        a(href='#')
                          | #{parseInt(product.ratingStar)} Sao 
                          - for(var j = 1; j <= parseInt(product.ratingStar); j++)
                            i.fa.fa-star
              .review_list
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-1.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                  p
                    | Giày đẹp
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-2.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                  p
                    | Giày bền
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-3.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                  p
                    | Giày ngon
            .col-lg-6
              .review_box
                h4 Thêm đánh giá
                p Đánh giá của bạn về độ nổi bật
                form#contactForm.row.contact_form(action='#', method='POST')
                  .col-md-12
                    .form-group
                      input#name.form-control(type='text', name='name', placeholder='Họ tên', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Họ tên'")
                  .col-md-12
                    .form-group
                      input#email.form-control(type='email', name='email', placeholder='Email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email'")
                  .col-md-12
                    .form-group
                      textarea#message.form-control(name='message', rows='1', placeholder='Nội dung', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Nội dung'")
                  .col-md-12
                    select
                      option(value=5) 5 Sao
                      option(value=4) 4 Sao
                      option(value=3) 3 Sao
                      option(value=2) 2 Sao
                      option(value=1) 1 Sao
                  .col-md-12.text-right
                    button.primary-btn(type='submit', value='submit') Gửi
  // End Product Description Area
  // Start Related-product Area
  section.related-product-area.section_gap_bottom
    .container
      .row.justify-content-center
        .col-lg-6.text-center
          .section-title
            h1 Ưu đãi trong tuần
            p
              | Tuần mua sắm
      .row
        .col-lg-9
          .row
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r1.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót
                  .price
                    h6 $189
                    h6.l-through $210
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r2.jpg', alt='')
                .desc
                  a.title(href='#') Áo thun nam
                  .price
                    h6 $100
                    h6.l-through $210
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r3.jpg', alt='')
                .desc
                  a.title(href='#') Đầm đen
                  .price
                    h6 $120
                    h6.l-through $150
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r5.jpg', alt='')
                .desc
                  a.title(href='#') Đầm xanh
                  .price
                    h6 $150
                    h6.l-through $210
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r6.jpg', alt='')
                .desc
                  a.title(href='#') Giày sandas
                  .price
                    h6 $199
                    h6.l-through $210
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r7.jpg', alt='')
                .desc
                  a.title(href='#') Áo sọc
                  .price
                    h6 $179
                    h6.l-through $210
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r9.jpg', alt='')
                .desc
                  a.title(href='#') Áo tay dài
                  .price
                    h6 $300
                    h6.l-through $410
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r10.jpg', alt='')
                .desc
                  a.title(href='#') Áo bó đen
                  .price
                    h6 $90
                    h6.l-through $100
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r11.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót vàng
                  .price
                    h6 $122
                    h6.l-through $200
        .col-lg-3
          .ctg-right
            a(href='#', target='_blank')
              img.img-fluid.d-block.mx-auto(src='img/category/c5.jpg', alt='')
  // End Related-product Area