extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Trang chi tiết sản phẩm
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='#')
              | Cửa hàng
              span.lnr.lnr-arrow-right
            a(href='single-product.html') Chi tiết sản phẩm
  // End Banner Area
  // Start Single Product Area
  .product_image_area
    .container
      .row.s_product_inner
        .col-lg-6
          .s_Product_carousel
            .single-prd-item
              img.img-fluid(src=products[0].image, alt='')
            .single-prd-item
              img.img-fluid(src=products[0].image, alt='')
        .col-lg-5.offset-lg-1
          .s_product_text
            h3 #{products[0].name}
            h2 $#{products[0].price}
            ul.list
              li
                a.active(href='#')
                  span Nhãn hiệu
                  |  : #{products[0].stall}
              li
                a(href='#')
                  span Tình trạng
                  |  : #{products[0].status}
            p
              | #{products[0].description}
            .product_count
              label(for='qty') Số lượng:
              input#sst.input-text.qty(type='text', name='qty', maxlength='12', value='1', title='Quantity:')
              button.increase.items-count(onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;", type='button')
                i.lnr.lnr-chevron-up
              button.reduced.items-count(onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;", type='button')
                i.lnr.lnr-chevron-down
            .card_area.d-flex.align-items-center
              a.primary-btn(href='#') Thêm vào giỏ
              a.icon_btn(href='#')
                i.lnr.lnr.lnr-diamond
              a.icon_btn(href='#')
                i.lnr.lnr.lnr-heart
  // End Single Product Area
  // Start Product Description Area 
  section.product_description_area
    .container
      ul#myTab.nav.nav-tabs(role='tablist')
        li.nav-item
          a#home-tab.nav-link(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Mô tả
        li.nav-item
          a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Đặc điểm
        li.nav-item
          a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Bình luận
        li.nav-item
          a#review-tab.nav-link.active(data-toggle='tab', href='#review', role='tab', aria-controls='review', aria-selected='false') Đánh giá
      #myTabContent.tab-content
        #home.tab-pane.fade(role='tabpanel', aria-labelledby='home-tab')
          p
            | Beryl Cook is one of Britain&rsquo;s most talented and amusing artists .Beryl&rsquo;s pictures feature women of all shapes
            | and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick School in
            | Reading at the age of 15, where she went to secretarial school and then into an insurance office. After moving to
            | London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He was an
            | officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before John took a
            | job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours, and when
            | showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently bought her a
            | child&rsquo;s painting set for her birthday and it was with this that she produced her first significant work, a
            | half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly
            | named &lsquo;Hangover&rsquo; by Beryl&rsquo;s husband and
          p
            | It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing
            | more and more recipe books and Internet websites that are dedicated to the act of cooking for one. Divorce and
            | the death of spouses or grown children leaving for college are all reasons that someone accustomed to cooking for
            | more than one would suddenly need to learn how to adjust all the cooking practices utilized before into a
            | streamlined plan of cooking that is more efficient for one person creating less
        #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
          .table-responsive
            table.table
              tbody
                tr
                  td
                    h5 Chiều rộng
                  td
                    h5 128mm
                tr
                  td
                    h5 Chiều cao
                  td
                    h5 508mm
                tr
                  td
                    h5 Chiều sâu
                  td
                    h5 85mm
                tr
                  td
                    h5 Trọng lượng
                  td
                    h5 52gm
                tr
                  td
                    h5 Tình trạng số lượng
                  td
                    h5 Còn hàng
        #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
          .row
            .col-lg-6
              .comment_list
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-1.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      h5 12th Feb, 2018 at 05:56 pm
                      a.reply_btn(href='#') Trả lời
                  p
                    | Giày đẹp quá
                .review_item.reply
                  .media
                    .d-flex
                      img(src='img/product/review-2.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      h5 12th Feb, 2018 at 05:56 pm
                      a.reply_btn(href='#') Trả lời
                  p
                    | Đồ án khó quá
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-3.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      h5 12th Feb, 2018 at 05:56 pm
                      a.reply_btn(href='#') Trả lời
                  p
                    | Giày đẹp ghê
            .col-lg-6
              .review_box
                h4 Viết bình luận
                form#contactForm.row.contact_form(action='contact_process.php', method='post', novalidate='novalidate')
                  .col-md-12
                    .form-group
                      input#name.form-control(type='text', name='name', placeholder='Họ tên')
                  .col-md-12
                    .form-group
                      input#email.form-control(type='email', name='email', placeholder='Địa chỉ email')
                  .col-md-12
                    .form-group
                      input#number.form-control(type='text', name='number', placeholder='Số điện thoại')
                  .col-md-12
                    .form-group
                      textarea#message.form-control(name='message', rows='1', placeholder='Nội dung')
                  .col-md-12.text-right
                    button.btn.primary-btn(type='submit', value='submit') Gửi
        #review.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='review-tab')
          .row
            .col-lg-6
              .row.total_rate
                .col-6
                  .box_total
                    h5 Tổng thể
                    h4 4.0
                    h6 (03 Đánh giá)
                .col-6
                  .rating_list
                    h3 Dựa trên 3 đánh giá
                    ul.list
                      li
                        a(href='#')
                          | 5 Sao 
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          |  01
                      li
                        a(href='#')
                          | 4 Sao 
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          |  01
                      li
                        a(href='#')
                          | 3 Sao 
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          |  01
                      li
                        a(href='#')
                          | 2 Sao 
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          |  01
                      li
                        a(href='#')
                          | 1 Sao 
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          i.fa.fa-star
                          |  01
              .review_list
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-1.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                  p
                    | Giày đẹp
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-2.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                  p
                    | Giày bền
                .review_item
                  .media
                    .d-flex
                      img(src='img/product/review-3.png', alt='')
                    .media-body
                      h4 Blake Ruiz
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                  p
                    | Giày ngon
            .col-lg-6
              .review_box
                h4 Thêm đánh giá
                p Đánh giá của bạn:
                ul.list
                  li
                    a(href='#')
                      i.fa.fa-star
                  li
                    a(href='#')
                      i.fa.fa-star
                  li
                    a(href='#')
                      i.fa.fa-star
                  li
                    a(href='#')
                      i.fa.fa-star
                  li
                    a(href='#')
                      i.fa.fa-star
                p độ nổi bật
                form#contactForm.row.contact_form(action='contact_process.php', method='post', novalidate='novalidate')
                  .col-md-12
                    .form-group
                      input#name.form-control(type='text', name='name', placeholder='Họ tên', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Your Full name'")
                  .col-md-12
                    .form-group
                      input#email.form-control(type='email', name='email', placeholder='Địa chỉ email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email Address'")
                  .col-md-12
                    .form-group
                      input#number.form-control(type='text', name='number', placeholder='Số điện thoại', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Phone Number'")
                  .col-md-12
                    .form-group
                      textarea#message.form-control(name='message', rows='1', placeholder='Nội dung', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Review'")
                  .col-md-12.text-right
                    button.primary-btn(type='submit', value='submit') Gửi
  // End Product Description Area
  // Start Related-product Area
  section.related-product-area.section_gap_bottom
    .container
      .row.justify-content-center
        .col-lg-6.text-center
          .section-title
            h1 Ưu đãi trong tuần
            p
              | Tuần mua sắm
      .row
        .col-lg-9
          .row
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r1.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót
                  .price
                    h6 $189.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r2.jpg', alt='')
                .desc
                  a.title(href='#') Áo thun nam
                  .price
                    h6 $100.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r3.jpg', alt='')
                .desc
                  a.title(href='#') Đầm đen
                  .price
                    h6 $120.00
                    h6.l-through $150.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r5.jpg', alt='')
                .desc
                  a.title(href='#') Đầm xanh
                  .price
                    h6 $150.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r6.jpg', alt='')
                .desc
                  a.title(href='#') Giày sandas
                  .price
                    h6 $199.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r7.jpg', alt='')
                .desc
                  a.title(href='#') Áo sọc
                  .price
                    h6 $179.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r9.jpg', alt='')
                .desc
                  a.title(href='#') Áo tay dài
                  .price
                    h6 $300.00
                    h6.l-through $410.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r10.jpg', alt='')
                .desc
                  a.title(href='#') Áo bó đen
                  .price
                    h6 $90.00
                    h6.l-through $100.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r11.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót vàng
                  .price
                    h6 $122.00
                    h6.l-through $200.00
        .col-lg-3
          .ctg-right
            a(href='#', target='_blank')
              img.img-fluid.d-block.mx-auto(src='img/category/c5.jpg', alt='')
  // End Related-product Area